*{
	padding:0px;
	margin:0px;	
}
/*Login trang quản trị*/
.log{
	margin-top:150px;	
	background-color:#4ca9e1;
	height:auto;
	margin-bottom:150px;
	text-align:center;
}
.log-img{
	padding-top:50px;	
}
.log-form{
	padding-top:80px;
	padding-bottom:100px;	
}
/*Trang quản trị Thủ Thuật - Tiên Ích - AdminCP*/
.header{
	background:#4CA9E1;
	height:auto !important;	
	text-align:center;
	text-transform:uppercase;
	color:#FFF;
	font-size:20px;
	padding: 30px 0;
}
.header .logo-us {
	background: url(../../source/thuthuat_tienich.png) no-repeat;
	height: 120px;
	width: 300px;
	display: block;
	margin: 0 auto;
}
.header-adcp{
	background:#222222;
/*	background:#545353;*/
	height:200px;	
	text-align:center;
	text-transform:uppercase;
	color:#FFF;
	font-size:20px;
}

.header-adcp .container .row .col-sm-12 p{
	padding-top:20px;	
}	
.col-sm-2.content-left{
	background:#F5F5F5;	
}
.col-sm-10.content-right{
	background:#F5F5F5;
}
.content{
	height:auto;
}
.date-time p{
	padding-left:40px;
	font-size:12px;
	font-style:italic;	
}
.thembaiviet input[type="text"] {
	width: 100%;	
}
/*End trang quản trị Thủ Thuật - Tiên Ích - AdminCP*/
/*Menu dọc trang quản trị Thủ Thuật Tiện ích - Admincp*/
.num-row{
	float:right;
}
.menu ul{
	list-style:none;
}
.menu ul li{
	padding:50px 20px;	
}
.menu ul li a:hover{
	background:#DADADA;	
}
.thembaiviet{
	padding-left:30px;	
}
.container.main-menu{
	max-width:1100px;	
}
a.glyphicon{
	color:#2D23E4;	
	font-size:20px;
}
ul.nav li{
	font-size:14px;
	text-transform:uppercase;	
}
ul.nav li a{
	padding-left:25px;	
	padding-right:30px;
	color:#2894FF;
}

/*End*/

/*Content*/
.content{
	background-color:#f3f3fb;
	height:auto;
}
.tieudebaiviet{
	padding-top:40px;	
}
.tieudebaiviet .col-sm-12 a{
	font-size:35px;	
}
.tieudechitietloaitin{
	padding-top:30px;	
	padding-bottom:50px;
	color:#337ab7;
}
.tieudechitietloaitin .col-sm-12{
	font-size:30px;	
}
.chitietnoidungbaiviet .col-sm-6{
	padding-right:30px;	
}
.img-res img{
	position:relative;
    left:12%;
    z-index:12;
    width:65%;	
}
.baivietlienquan .col-sm-11{
	height:10px;
	padding-bottom:30px;
	padding-top:100px;
}

p.nguoi-dang{
	font-size:12px;	
	font-style:italic;
}
/*End content*/

/*Menu dọc bên phải*/
.category .col-sm-12, .baivietmoinhat .col-sm-12{
	margin-top:20px;	
	background:#4CA9E1;
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:16px;
	padding:10px;
	margin-bottom:20px;
}
.btn-search {
	display: none !important;
}

.category .glyphicon, .baivietmoinhat .glyphicon{
	color:#FFFFFF;	
}
.category .panel, .baivietmoinhat .panel {
	border-radius: 0;
	width: 100%;
}
.co-the-ban-quan-tam{
	text-align:center;	
	color:#828282;
}
.col-sm-6.box-co-the-ban-quan-tam:nth-child(3n) {
    clear: both;
}

.box-co-the-ban-quan-tam{
	padding:30px;	
}
.menu-doc {
	margin-bottom:20px;	
	color:#337ab7;
	height: 50px;	
	border-bottom: 1px #cccccc solid;
	padding: 0 15px 80px 15px;
}
.menu-doc:nth-child(13) {
	border-bottom: none !important;
}
.item-image {
	padding: 0 !important;	
}
.item-image img{
	width: 100%;
	height: 50px;	
}
.item-count {
	margin-right: -15px;	
}
	
.menu-doc .col-sm-6{
	height:auto;	
}
.input-search {
	height: 50px !important;	
}

/*Phân trang ở đây*/
ul.phantrang{
	list-style:none;
	padding-top:60px;
	padding-left:25%;	
}
ul.phantrang li{
	float:left;
	padding:10px;	
}
/*Bài viết mới nhất*/
.list_baivietmoinhat .col-sm-1 .img-responsive{
	height:auto;	
}
.list_baivietmoinhat{
	padding-bottom:20px;
	padding-top:20px;	
}
.capnhatboi{
	font-size:12px;
	font-style:italic;	
}
.content{
	padding-bottom:50px;	
}
/*Footer*/
.footer{
	background:#4CA9E1;	
}
.list-loaisoft{
	padding-top:10px;	
	
	color:#FFF;
}
.list-loaisoft ul{
	padding-left:30px;	
}
.list-loaisoft a{
	color:#FFF;	
}
.list-loaisoft ul li a:hover{
	color:#337ab7;	
	text-decoration:none;
}
<!--Box Search-->

<!--Footer about-->
.about>p{
	text-align:center;	
}
.container.about{
	max-width:700px
}
.tom-tat-co-the-ban-quan-tam{
	font-size:9px;	
}
.registry-mail input[type=submit] {
	display: none;
}
.btn-registry-email {
	display: none;	
}
.registry-mail label {
		
}
/*
* Popup form
*/
.popup {
	background: #EEE;
	display: none;	
	position: fixed;
	z-index: 10;
	border-radius: 10px;
	top: 30%;
    padding: 10px 15px 25px 15px;
	text-align: center;
	margin: 0 30px 0 15px;
}

.popup .fa {
	font-size: 6em;
	color: #E2E2E2;	
}
.overlay {
	background: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	display: none;
}
.error {
	color: #F00;	
}